nav {
    display: flex;
    flex-direction: column;
}

nav > a {
    margin-top: 10px;
}

#app {
    padding: 20px;
    font-family: sans-serif;
}

#image {
    margin-top: 10px;
    display: block;
}

.open {
    background-color: red;
}

.closed {
    background-color: blue;
}

.header {
    font-size: 20px;
    
}

audio {
    display: block;
}

.song-list {
    border: 2px #2461e4 solid;
    background-color: #7ec3f1;
    display: inline-block;
    padding: 0px 20px;

    transition: all 1s;
}

.move-right {
    transform: translate(100px, 0);
}